<table class="table thead-fixed">
	<thead>
		<th>圖號</th>
		<th>發包數量</th>
		<!-- <th>從</th>
		<th></th> -->
		<th>目前位於</th>
		<th>本站 / <small>總累積天數</small></th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<% @manufacturing_records.each do |manu_record| %>
			<tr>
				<td>
					<%= link_to readable_picnum(manu_record.workpiece.picnum), admin_workpiece_path(manu_record.workpiece) %>
				</td>
				<td><%= manu_record.current_procedure.amount || rand(10..50) %></td>
				<!-- <td class="text-muted"><small><%#= manu_record.previous_procedure.factory.name_and_skill %></small></td>
				<td class="text-muted"><%#= I18n.l(manu_record.previous_procedure.arrived_at, format: "%b%d日(%a)") %></td> -->
				<td><%= manu_record.current_procedure.factory.name_and_skill %><small class="text-muted"> <i class="fi-arrow-right"></i> <%= manu_record.next_procedure.factory.name_and_skill %></small></td>
				<td><strong><%= (Date.current - manu_record.current_procedure.arrived_at.to_date).to_i %></strong> / <small><%= (Date.current - manu_record.first_procedure.arrived_at.to_date).to_i %></small></td>
				<td>
					<%= link_to "#" do %>
						提醒
						<i class="fi-bookmark"></i>
					<% end %>
				</td>
				<td>
					<%= link_to "#" do %>
						編輯
						<i class="fi-page-edit"></i>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>