<!DOCTYPE html>
<html>
  <head>
    <title><%= @nav_title %> | 翔裕管理系統</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="admin container-fluid">
    <div class="row" id="full_page_wrapper">
      <% unless mobile? %>
        <div id="sidebar">
          <%= render "admin/partials/sidebar" %>
        </div>
      <% end %>
      <div id="right">
        <%= render "admin/partials/nav" %>
        <div id="main_content" class="px-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
